<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLb8FOnHJ_O7AhgQyNw8M9NEFvMwoC7SE</string>
	<key>GCM_SENDER_ID</key>
	<string>47114877694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edunetdemo</string>
	<key>PROJECT_ID</key>
	<string>edunetdemo-5c098</string>
	<key>STORAGE_BUCKET</key>
	<string>edunetdemo-5c098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47114877694:ios:fdfd0d091a5ab717d283af</string>
</dict>
</plist>